<!-- HEADER -->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"><a href="/">
        storrry
        <a>
      </h1>




      <!-- NAV -->
      <nav class="nav">
        <div class="nav-right nav-menu">
          {{#if user}}

          <div class="nav-item" id="avatar"><img src='{{user.image.url}}'></div>

          <a class="nav-item" id="{{email}}">{{user.displayName}}</a>

          <div class="nav-item">
            <a class="button" href='/auth/logout' >
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
            </a>
          </div>

          <div class="nav-item">
            <a class="button" id="create" href="/stories/new">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
            </a>
          </div>



          {{else}}

          <div class="nav-item">
            <a class="button" href='/auth/login' >
              <span class="icon">
                <i class="fa fa-sign-in"></i>
              </span> login
            </a>
          </div>

          {{/if}}
        </div>
      </nav>
      <!-- NAV END -->





    </div>




  </div>
</section>




<!-- CONTENT -->
{{#each story}}
<div class="columns">
  <div class="column"></div>
  <div class="column is-half"><div id="sketch-holder"><img src='{{this.img_url}}'></div><p>{{this.caption}}</p>
   <button id="{{this._id}}" class="delete" type="submit"></button>
  </div>
  <div class="column"></div>
</div>
{{/each}}
