<div><img src='{{user.image.url}}'></div>
<div>{{user.displayName}}</div>
<div class="nav-item">
  <a class="button" href="/stories">
    <span class="icon">
      <i class="fa fa-home"></i>
    </span>
  </a>
</div>

{{#each user.stories}}
<div class="columns">
  <div class="column"></div>
  <div class="column is-half"><img src='{{this.img_url}}'>{{this.caption}}
   {{!-- <form method=""></form> --}} <button id="{{this._id}}" class="delete" type="submit"></button>
  </div>
  <div class="column"></div>
</div>
{{/each}}
