<!-- CONTENT -->
<div class="container" id="createStory">
  <div class="columns">

    <div class="column"></div>

    <div class="column is-half">
      <div class="content">
        <div class="content-media">
          <article class="media">
            <figure class="media-center">

              <p class="image">
                 <img src="{{img_url}}">
              </p>
            </figure>
          </article>
        </div>

        <div class="content-text">

          <h2 id="app-status"></h2>

          <div class="words" id="word1" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words1}}</div>
          <div class="words" id="word2" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words2}}</div>
          <div class="words" id="word3" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words3}}</div>
          <div class="words" id="word4" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words4}}</div>
          <div class="words" id="word5" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words5}}</div>
          <div class="words" id="word6" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words6}}</div>
          <div class="words" id="word7" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words7}}</div>
          <div class="words" id="word8" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words8}}</div>
          <div class="words" id="word9" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words9}}</div>
          <div class="words" id="word10" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">{{words10}}</div>

          <div id="drop-zone" ondragenter="dragEnter(event)" ondrop="dragDrop(event)" ondragover="return false" ondragleave="dragLeave(event)"><p id="caption">CAPTION:<p></div>

          <br><button class="button" id="publish">Publish</button>

        </div>
      </div>
    </div>

    <div class="column"></div>
  </div>
</div>
